<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CatCC.Printing.NameBadgePrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="CatCC.Printing.NameBadgePrinter.DymoLabels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="CatCC.Printing.NameBadgePrinter.SeikoSLPLabels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<CatCC.Printing.NameBadgePrinter.Properties.Settings>
			<setting name="LabelDataFile" serializeAs="String">
				<value>C:\temp\label.xml</value>
			</setting>
			<setting name="PrinterType" serializeAs="String">
				<!--<value>Seiko</value>-->
				<value>Dymo</value>
			</setting>
		</CatCC.Printing.NameBadgePrinter.Properties.Settings>
		
		<!-- These are settings for SeikoSLPLabels -->
		<CatCC.Printing.NameBadgePrinter.SeikoSLPLabels.Properties.Settings>
			<setting name="PrinterName" serializeAs="String">
				<!--<value>Smart Label Printer 200</value>-->
				<!--<value>Smart Label Printer 240</value>-->
				<value>Smart Label Printer 450</value>
			</setting>
		</CatCC.Printing.NameBadgePrinter.SeikoSLPLabels.Properties.Settings>

		<!-- These are settings for DymoLabels -->
		<CatCC.Printing.NameBadgePrinter.DymoLabels.Properties.Settings>
			<setting name="PrinterName" serializeAs="String">
				<value>DYMO LabelWriter 400 Turbo</value>
			</setting>
			<setting name="DymoLabelTemplateFile" serializeAs="String">
				<value>C:\Documents and Settings\All Users\Documents\DYMO Label\Label Files\CACC-Name Tag.LWL</value>
			</setting>
		</CatCC.Printing.NameBadgePrinter.DymoLabels.Properties.Settings>
	</applicationSettings>
</configuration>