<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ServiceAndDataContracts.Properties.Settings.CACCCheckInConnectionString"
        connectionString="Data Source=ROBANDWENDY-PC;Initial Catalog=CACCCheckIn;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True;Network Library=dbmssocn"
        providerName="System.Data.SqlClient" />
      <!--<add name="ServiceAndDataContracts.Properties.Settings.CACCCheckInConnectionString"
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CACCCheckIn;User Id=CACCCheckInService;Password=password4cacc;MultipleActiveResultSets=True;Network Library=dbmssocn"
       providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
